<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="REMOTEDEBUGGER_INSTALLFOLDER" Name="Microsoft Visual Studio 17.0\Common7\IDE\Remote Debugger\x64" />
    </StandardDirectory>
    <util:FileSearch Id="CheckRemoteDebugger" Variable="ExistRemoteDebbuger" Path="[REMOTEDEBUGGER_INSTALLFOLDER]msvsmon.exe" Result="exists" />
    <Binary Id="CreateRemoteDebuggerShortcut" SourceFile="CreateShortcut.vbs" />
    <CustomAction Id="CreateRemoteDebuggerShortcutAction" BinaryRef="CreateRemoteDebuggerShortcut" VBScriptCall='' Return="check" Execute="immediate" />
  </Fragment>
</Wix>
